@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Code Review Boss</h1>
    <p>This is a site for matching you up with someone to do a code review.</p>
    <a href="../Review/">Code Reviews Page</a><br />
    <a href="Home/Privacy">A redundant link to the Privacy page</a>
</div>

